.space {
  /* width: 26px; */
  /* width: min(8vw, 36px); */
  /* height: 26px; */
  background: #74dfac;
  /* background: #74dfac; */

  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 100.5%;
  color: #31602a;
}

.noReport {
  background: #ff8c8c;
}
.reportComplete {
  background: #74dfac;
}
.current {
  background: #8065c9;
}
.future {
  background: #d9daf3;
}

.unfilled {
  border: 0.0625rem solid #ffffff;
  background: none;
}
