.root {
  /* padding-left: min(2.2vw, 1.5rem) !important;
  padding-right: min(2.2vw, 1.5rem) !important; */
  /* height: 79vh;
  height: calc(var(--vh, 1vh) * 79); */
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  @apply lg:pt-0 px-3 lg:px-0 pt-[3vh] pb-4 lg:pb-[2vh];
  display: grid;
  height: calc(var(--vh, 1vh) * 100);
  /* transition: all 1s; */
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  margin-left: min(60px, 6%);
  margin-right: min(35px, 5%);
  color: white;
  /* margin-top: auto; */
}
.actions svg {
  color: white;
}
@media only screen and (min-width: 1500px) {
  .actions {
    gap: 32px;
    margin-left: min(60px, 6%);
    margin-right: min(40px, 5%);
    color: white;
  }
}
.header .subText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  height: var(--av-b-h);
}
.dateHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
  max-width: 60%;
  height: 36px;
  line-height: 36px;
  @apply truncate;
}
.subText button {
  height: var(--av-b-h);
  width: var(--av-b-w);
  background: #ff8c8c;
  color: #861313;
  /* min-width: 6vw;
  min-height: 4vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.timezone {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 99.5%;

  /* identical to box height, or 20px */
  text-align: center;
  border: 1px solid #d9daf3;
  border-radius: 3px;
  color: #d9daf3;
  /* width: 164px; */
  height: 31px;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todayButton {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 99.5%;
  text-align: center;
  color: #ffffff;
  background: #d4145a;
  border-radius: 3px;
  width: 101px;
  height: 31px;
}
.header pre {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  /* justify-content: space-between; */
  width: 100%;
}
.dayLabels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}
.dayLabels p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100.5%;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.dateLabels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  background: #ffffff;
  border-radius: 5px;
  height: 36px;
  align-items: center;
}
.currentMonth {
  color: #2d224c !important;
}
.dateLabels p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100.5%;
  text-align: center;
  color: #2d224c !important;
}
.today {
  display: flex;
  align-items: center;
  justify-content: center;
}
.today span {
  background: var(--clr-red-100);
  color: white !important;
  padding: 4px;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeLabels {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  align-items: center;
}
.timeLabels p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 100.5%;
  text-align: center;
  color: #ffffff;
}
.availabilityGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-columns: repeat(7, minmax(8.5vw, 36px)); */
  gap: 4px;
  width: 100%;
  grid-auto-rows: 1fr;
  height: 100%;
}

.badge {
  width: 100%;
  height: 34px;
  background: #ffffff;
  border-radius: 0.5625rem;
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 99.5%;
  color: #8065c9;
  /* padding-left: 14px; */
}
.badge p {
  text-align: center;
}
.badge::before {
  content: " ";
  display: block;
  height: 2.125rem;
  width: 0.8125rem;
  background: #8065c9;
  border-radius: 9px 0px 0px 9px;
  position: absolute;
}

.button {
  height: 59px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 99.5%;
  position: relative;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.button[disabled] {
  opacity: 0.5;
}
@media only screen and (min-width: 763px) {
  .root {
    /* justify-content: center;
     */
    padding-top: min(49px, 4%);
    padding-left: 39px !important;
    padding-right: 39px !important;
  }
  .header {
    gap: min(17px, 3vh);
    margin-bottom: 1vh;
    /* padding-left: 2%; */
  }
  .header .subText {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 99.5%;
    /* justify-content: center; */
    /* text-indent: 15px; */
    color: #ffffff;
  }

  .header pre {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 99.5%;
    /* text-align: center; */
  }
  .timeLabels {
    /* justify-content: space-between; */
    gap: 8px;
  }
  .grid {
    grid-auto-rows: 1fr;
    gap: 8px;
  }
  .content {
    height: clamp(320px, 45vh + 10px, 500px);
    height: calc(var(--vh, 1vh) * 60);
  }
  .badge {
    /* height: 38px; */
    border-radius: 5px;
    height: 2.5rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 99.5%;
    text-indent: 15px;
  }
  .badge::before {
    width: 1.4375rem;
    /* height: 48px; */
    border-radius: 5px 0px 0px 5px;
    height: 2.5rem;
  }
  .button {
    max-width: 15.875rem;
  }

  .badge p {
    margin: 0;
    padding-left: 1.5rem;
    margin: 0;
  }
  .dayLabels p {
    width: 100%;
  }
}
.fixedGrid {
  display: grid;
  grid-template-columns: 600px auto;
  margin-right: 2.2rem;
}
.options {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.2rem;
  margin-left: auto;
}
