.root {
  display: flex;
  flex-direction: row;
  gap: 5px;
  background: #d9daf3;
  border-radius: 4px;
  height: 40px;
  padding: 4px 8px;
}
.root.past {
  background: #b4b4b4;
}
.root.past p {
  text-decoration: line-through;
}
.circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /* box-shadow: 0px 0px 0px 4px var(--clr-red-100); */
  border: 2px solid var(--clr-red-100);
  /* background: red; */
  /* box-shadow: 0px 0px 10px 10rem 1rem var(--clr-red-100); */
}
.textBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.textBox .time {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 124%;
  color: #2d224c;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  text-overflow: ellipsis;
}
.textBox .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 124%;
  color: #2d224c;
  width: 80%;
  height: 16px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
