.root {
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
}
.root input:-webkit-autofill,
.root input:-webkit-autofill:hover,
.root input:-webkit-autofill:focus,
.root input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition-delay: background-color 5000s, color 5000s;
}

/* .fieldInput::placeholder {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 99.5%;
  color: black !important;
} */
/* .fieldInput {
  padding: 8px 0 5px !important;
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 99.5% !important;
  color: #8065c9 !important;
  opacity: 1 !important;
} */
.label {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  line-height: 99.5% !important;
  color: #2d224c !important;
}

/* @media only screen and (min-width: 763px) {
  .fieldInput,
  .fieldInput::placeholder {
    font-weight: 400;
    font-size: min(calc(var(--vh, 1vh) * 2.4), 32px) !important;
  }
} */
/*  */
