/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
html {
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
}

:root{

  font-weight: 400 !important;
  font-feature-settings:normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --clr-red-100: #d4145a;
  --clr-violet-100: #2d224c;
  --clr-violet-200: #d9daf3;
  --clr-violet-300: #8065c9;
  --clr-green-100: #74dfac;
  --clr-green-200: #31602a;
}

.user {
  line-height: 24px;
  color-scheme: light dark;
  color: #242424 !important;
  background-color: #242424 !important;
  
}

.user button {
  transition: all 400ms !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


 .modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  width: 100vw;
  height: 100vw;
}
 .modal {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  top: calc(50vh - 217px);
  left: calc(50vw - 331px);
  /* background: red; */
  width: fit-content;
  height: fit-content;
}
 .modal:focus-visible {
  outline: none !important;
}
 .modalContent {
  width: 662px;
  height: 434px;
  background: #ffffff;
  border-radius: 19px;
}
